.chat-input {
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
    width: 50%;
    z-index:1;
}

.cyberpunk-input {
    width: 55%;
    padding: 10px;
    margin-left: 5%;
    background-color: white; /* Dark background for inputs and buttons */
    border: 1px solid dodgerblue; /* Neon green border */
    color: darkblue; /* Neon green text */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    outline: none; /* Removes the default focus outline */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions for interaction */
}

.cyberpunk-button {
    width: 30%;
    margin-bottom: 10px;
    background-color: white; /* Dark background for inputs and buttons */
    border: 1px solid dodgerblue; /* Neon green border */
    color: black; /* Neon green text */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    outline: none; /* Removes the default focus outline */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions for interaction */
    cursor: pointer; /* Changes cursor to pointer on hover */
}


    .cyberpunk-button:hover, .cyberpunk-button:focus {
        background-color: lightskyblue; /* Slightly lighter background on hover/focus */
        box-shadow: 0 0 10px dodgerblue; /* Glowing effect on hover/focus */
    }

.cyberpunk-input:focus, .cyberpunk-input:hover {
    background-color: lightskyblue; /* Slightly lighter background on focus/hover */
    box-shadow: 0 0 10px dodgerblue; /* Glowing effect on focus/hover */
}

.cyberpunk-input::placeholder {
    color: black;
    opacity: 1; /* Fully opaque placeholder text */
}

.cp-chatbox {
    position: fixed;
    bottom: 0;
    width: 65%;
    height: 90%;
    border: 1px solid darkblue; /* Neon green border */
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #1b6ec2 70%); /* Dark background for the chatbox */

    padding: 10px;
    box-shadow: 0 0 10px dodgerblue; /* Glowing effect for the chatbox */
    border-radius: 10px;
    margin-bottom: 20px;
    z-index: 0;
    color: black;
}
.cp-chatbox-box {
    position: fixed;
    bottom: 0;
    width: 47%;
    height: 80%;
    border: 1px solid dodgerblue; /* Neon green border */
    background-color: white; /* Dark background for the chatbox */
    overflow-y: auto; /* Allows scrolling */
    padding: 10px;
    box-shadow: 0 0 10px dodgerblue; /* Glowing effect for the chatbox */
    border-radius: 10px;
    margin-bottom: 100px;
    z-index:1;
}

@media screen and (max-width: 400px) {
    .cp-chatbox {
        width: 90%;
        height: 80%;
    }
    .cp-chatbox-box {
        height:70%;
        width: 65%;
        margin-bottom:80px;
    
    }
        .cyberpunk-button {
        width: 33%
    }

    .chat-input {
        position: fixed;
        bottom: 0;
        margin-bottom: 20px;
        width: 80%;
    }

    .cp-message-send {
        width: 80%;
    }
    .contacts{
        width:85%;
        right:85%;
    }
}

@media screen and (min-width: 401px) and (max-width: 767px) {
    .cp-chatbox {
        width: 90%;
        height: 85%;
    }
    .cp-chatbox-box {
        height: 77%;
        width: 85%;
        margin-bottom: 80px;
    }

    .cyberpunk-button {
        width: 30%
    }

    .chat-input {
        position: fixed;
        bottom: 0;
        margin-bottom: 20px;
        width: 80%;
    }

    
}
@media screen and (min-width: 1500px) and (max-width: 1700px) {

    .cp-chatbox-box {
        height: 77%;
    }
    .contacts {
        right: 50%;

    }


}

@media screen and (min-width: 2000px) {
    .cp-chatbox {
        width: 70%;
    }

}

.cp-message-send {
    background-color: lightgray; /* Slightly lighter background for messages*/ 
    margin-right: 50%;
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
    color: black;
    width: 50%;
}

.cp-message {
    background-color: lightgreen; /* Slightly lighter background for messages */
    margin: 5px 0;
    padding: 5px;
    margin-left: 50%;
    border-radius: 3px;
    color: black;
    width: 50%;
}
.contacts {
    right:22%;
    width:15%;
    position: fixed;
    border-left: 1px solid dodgerblue; /* Neon border */
    background-color: white; /* Darker background for contacts */
    color: black; /* Neon text */
    overflow-y: auto;
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #1b6ec2 70%);
}

.cp-contact {
    padding: 10px;
    border-bottom: 1px solid dodgerblue; /* Neon border */
    background-color: white;
    border-radius: 3px;
    margin-bottom:10px;

}
    /*.cp-contact:hover {
        background-color: #1b6ec2;*/ /* Hover effect */
        /*cursor: pointer;*/
    /*}*/

.cp-chatbox, .cp-chatbox-box, .cyberpunk-button, .cyberpunk-input, .cp-contact {
    border-color: #00FFFF;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.75);
}


